<html>
<body bgcolor="#a3cfb4">

    <center>

        <h1> PREDICTION RESULTS </h1>

    {%if data == 0%}
    <h2 style="color:green">Iris-setosa</h2>  
    <img src='static\flower.gif' alt="Iris Setosa Image"> 
    <p>The Iris Setosa, known for its distinctive features and vibrant colors, is a beautiful addition to any garden.</p>

    {%else%}
    <h2 style="color:purple">Iris-versicolor</h2>
    <img src='static\flower.gif' alt="Iris Versicolor Image">
    <p>The Iris Versicolor, known for its diversity in colors and hardy nature, is a favorite among garden enthusiasts.</p>

    {%endif%}

        <br><br>
    <a href='/' style="font-size:1.2em">Go back to home page</a>

 </center>
</body>
</html>






